<h1><%= @event.name %></h1>
<div id="event_description"><%= @event.description %></div>
<% if @event.participants.size > 0 %>
    <h2>Alle deltagere: &nbsp; &nbsp; &nbsp;</h2>
       <%= render partial: "participants/participant" %>
 <% else %>
 <p><em> Ingen deltagere</em></p>
 <p><%= link_to "Tilmeld dig her", new_participant_path %></p>
 <% end %>	   
 